﻿@{
    ViewBag.Title = "Dashboard";
}
<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-6">
        Columna test hola
    </div>
    <div class="col-md-6">
        Columna test 2
    </div>
</div>

