﻿
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/css")

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Dashboard", "Dashboard")">Proyecto Finanzas</a>
            </div>
            <div style="color: white; padding: 10px 50px 5px 50px; float: right; font-size: 16px;">
                <a href="@Url.Action("Logout", "Home")" class="btn btn-danger btn-lg square-btn-adjust"><i class="fa fa-eraser"></i> Cerrar Sesión</a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                            <img src="@Url.Content("~/Content/img/ImagenAdmin.png")" class="user-image img-responsive" />
                        <h3 style="color:white;">Nombre</h3>
                    </li>
                    <li>
                        <a class="active-menu" href="@Url.Action("Index", "Dashboard")"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                    <li>
                        <a class="active-menu" href="@Url.Action("Index","Perfil")"><i class="fa fa-user fa-3x"></i> Perfil</a>
                    </li>
                    <li>
                        <a class="active-menu" href="@Url.Action("Dashboard", "Dashboard")"><i class="fa fa-money fa-3x"></i> Cuentas Corrientes</a>
                    </li>
                    <li>
                        <a class="active-menu" href="@Url.Action("Dashboard", "Dashboard")"><i class="fa fa-calculator fa-3x"></i>Calculos a Plazo Fijo</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>     
    @Scripts.Render("~/bundles/scripts")
</body>
</html>
